/*
selecteur(s) {
    propriété : valeur;
}
*/

@font-face {
    font-family: "Millimetre-Bold";
    src: url("FONT/Millimetre-Bold_web.woff2") format("woff2");
    font-family: "Millimetre-Regular";
    src: url("FONT/Millimetre-Regular_web.woff2") format("woff2");
}

body{

    background-color: blue;
    color: white;

}

h1{
    font-size: 70px;
    margin-top: 40px;
    font-family: "Millimetre-Bold";
}

h2{
    font-family: "Millimetre-Bold";
    font-size: 40px;
    text-align: right;
    color: white;
}

p{
    color: white;
    font-size: 23px;
    font-family: "Millimetre-Regular";

}

