@font-face {
    font-family: "Millimetre-Bold";
    src: url("FONT/Millimetre-Bold_web.woff2") format("woff2");
    font-family: "Millimetre-Regular";
    src: url("FONT/Millimetre-Regular_web.woff2") format("woff2");

}

body {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: 350px 350px 350px;
}
h1 {
    font-family: "Millimetre-Bold";
    text-align: right;
    font-size: 100px;
}

img {
    max-width: 100%;
        display: block;
        max-width: 90%;
        margin: 20px;
        border: 10px solid;
        border: white
    }
