/*
selecteur(s) {
    prpriété : valeur;
}
*/


@font-face {
    font-family: "Millimetre-Bold";
    src: url("FONT/Millimetre-Bold_web.woff2") format("woff2");
    font-family: "Solide";
    src: url("FONT/Solide_Mirage-Mono_web.woff2") format("woff2");
    font-family: "Millimetre-Regular";
    src: url("FONT/Millimetre-Regular_web.woff2") format("woff2");

}


body {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 1px;
}

h1 {
    font-size: 150px;
    text-align: left;
    margin: 35px;
    font-family: "Millimetre-Bold";
    grid-column: 1/5;
}

h3 {
    font-family: "Millimetre-Regular";
}


p {
    font-family: "Millimetre-Regular";
    margin: 50px;
    font-size: 21px;
    grid-column: 1/2;
    grid-row: 2/3;
}

img {
    display: block;
    max-width: 90%;
    margin: 20px;
    border: 10px solid;
    border: white;
}