/*
selecteur(s) {
    prpriété : valeur;
}
*/

@font-face {
    font-family: "Millimetre-Bold";
    src: url("FONT/Millimetre-Bold_web.woff2") format("woff2");
    font-family: "Millimetre-Regular";
    src: url("FONT/Millimetre-Regular_web.woff2") format("woff2");
}

    body {
        background-color: blue;
        color: white;
        text-align: center;
    }

    h1 {
        font-family: "Millimetre-Bold";
    }

    h3 {
        font-family: "Millimetre-Regular";    }

    img{
        max-width: 50%;
    }

    img{
        max-width: 50%;
    }