/*
selecteur(s) {
    propriété : valeur;
}
*/

@font-face {
    font-family: "Millimetre-Bold";
    src: url("FONT/Millimetre-Bold_web.woff2") format("woff2"),
        url("FONT/Millimetre-Bold_web.woff") format("woff");
}


@font-face {
    font-family: "Millimetre-Regular";
    src: url("FONT/Millimetre-Regular_web.woff2") format("woff2"),
        url("FONT/Millimetre-Regular_web.woff") format("woff");
}

a,
a:focus {
    text-decoration: none;
}

.header-title a {
    font-size: clamp(24px, 50px, 96px);
    text-align: left;
    font-family: "Millimetre-Bold";
    text-decoration: none;
    color: currentColor;
}

body {

    background-color: rgb(228, 48, 48);
    color: white;


}

/*.index{
    background: url("waves1.jpg"); 
    color: white;
}*/

@media (min-width:450px) {
    body {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}

@media (min-width:650px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

h1 {
    font-size: 60px;
    margin-top: 40px;
    margin: 20px;
    font-family: "Millimetre-Bold";
    text-align: left;
}

h2 {
    font-family: "Millimetre-Bold";
    font-size: 30px;
    text-align: right;
    text-decoration: none;
    color: white;
    margin-top: 40px;
}

p {
    font-size: 23px;
    font-family: "Millimetre-Regular";
    padding: 30px;

    /*
    background-color: white;
    color: blue;
    padding: 30px;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: 0%;
*/

}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-left: 0px;
    /* object-fit:cover; */
}


.text {
    grid-column: 3/4;
}

/* .voiture img {
    display: block;
    margin: auto;
    max-width: 100%;
    grid-column: 2/4;
} */

.whotext {
    grid-column: 1/2;
    background-color: white;
    color: rgb(228, 48, 48);
    padding: 30px;
    border-radius: 15px;

}


.big {
    grid-column: 2/-1;
}

h3 {
    font-family: "Millimetre-Bold";
    font-size: 50px;
    grid-column: 2/3;
    text-align: center;
    margin: 20px;

}

/* 
a{
    transition: 0.4s;
    filter: grayscale();
}

a:hover{
    opacity: 0,5s;
    transform: rotate(2);
}
*/

.big1 {
    grid-column: 1/-2;
}

.hdp {
    margin: 20px;
    gap: 20px;

}

.div-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.image-zoom {
    transition: 0.4s;
}

.image-zoom:hover {
    transform: scale(1.1);
}

h4 {
    font-family: "Millimetre-Bold";
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    color: white;
}

h5 {
    font-family: "Millimetre-Regular";
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: white;
    color: rgb(228, 48, 48);
    padding: 30px;
    border-radius: 15px;
}